<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book App</title>
  <link rel="stylesheet" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/base.css">
  <link rel="stylesheet" href="./styles/icons.css">
  <link rel="stylesheet" href="./styles/layout.css">
  <link rel="stylesheet" href="./styles/modules.css">
</head>
<body>
  <main>
    <section class="detail-container">
           <div class="book-item" data-id="<%=book.id%>">
              <img src=" <%=book.image_url %>">
              <h3><%=book.title %></h3>
              <h4><%=book.authors %></h4>
              <p><%=book.description %></p>
              <h4><%=book.isbn %></h4>
              <h4><%=book.bookshelf %></h4>
              <a href="/">Home Page</a>
            </div>
    </section>
  </main>
</body>
</html>