<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head')%>
</head>
<body>
  <main>
    <section class="detail-container">
           <div class="book-item" data-id="<%=book.id%>">
              <img src=" <%=book.image_url %>">
              <h3><%=book.title %></h3>
              <h4><%=book.authors %></h4>
              <p><%=book.description %></p>
              <h4><%=book.isbn %></h4>
              <h4><%=book.bookshelf %></h4>
              <a href="/">Home Page</a>
            </div>
    </section>
  </main>
</body>
</html>