<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head')%>
</head>
<body>
  <section class="flex-container">
    <div class="book-item">
      <img src="<%=book.image%>">
      <h3>Title: <%=book.title %></h3>
      <h4>Authors: <%=book.authors %></h4>
      <p>Description: <%=book.description %></p>
      <h4>Isbn: <%=book.isbn%></h4>
      <h4>Bookshelf: <%=book.bookshelf%></h4>
      <button><a href="/books/update">Update Details</a></button>
      <button>Delete</button>
    </div>
  </section>
</body>
</html>