<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head')%>
</head>
<body>
  <main>
    <div id="header">
      <h1>Best Books!</h1>
      <%- include('../layout/header')%>
      <h2>Collection</h2>
      <h2>Number of books: <%=results.length%></h2>
    </div>
    <section class="flex-container">
      <% results.forEach(book => { %>
      <div class="book-item" data-id="<%=book.id%>">
        <img src=" <%=book.image%>">
        <h3><%=book.title %></h3>
        <h4><%=book.authors %></h4>
        <p><%=book.description %></p>
        <button><a href="/books/detail/<%=book.id%>">View Details</a></button>
        <button><a href="/books/update/<%=book.id%>">Update Details</a></button>
      </div>
      <% }) %>
    </section>
  </main>
</body>
</html>